$happy-yellow: #F7E459;
$happy-red: #FF5824;
$happy-black: #242424;
$happy-h2-title: #696969;
$happy-background: #e2e2e2;

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./fonts/Roboto-Thin.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./fonts/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./fonts/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./fonts/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./fonts/Roboto-Black.ttf');
  font-weight: 900;
}

@import "global";
@import "home";
@import "responsive";
@import "archive";
@import "forms";
@import "myaccount";
@import "woocommerce";